{% extends 'index.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<h1>{% translate 'Statuses' %}</h1>
<a class="btn btn-primary" href="{% url 'status_create' %}">{% translate 'Create status' %}</a>
<table class="table text-white">
	<tr>
		<th>ID</th>
		<th>{% translate 'Name' %}</th>
		<th>{% translate 'Created at' %}</th>
		<th></th>
	</tr>
	{% if statuses %}
		{% for status in statuses %}
		<tr>
			<td>{{ status.id }}</td>
			<td>{{ status.name }}</td>
			<td>{{ status.created_at }}</td>
			<td>
				<a href="{% url 'status_update' status.id %}">{% translate 'Update' %}</a>
				<br>
				<a href="{% url 'status_delete' status.id %}">{% translate 'Delete' %}</a>
			</td>
		</tr>
		{% endfor %}
	{% endif %}
</table>
{% endblock %}
