{% extends 'index.html' %}

{% load i18n django_bootstrap5 %}

{% block content %}
<div class="text-start">
	<h1>{% translate 'Delete task' %}</h1>
	<form action="{% url 'task_delete' task.id %}" method="post" class="form">
		<p>
			{% with task_name=task.name %}
				{% blocktranslate %}Do you want to delete {{ task_name }}?{% endblocktranslate %}
			{% endwith %}
		</p>
		{% csrf_token %}

		{% translate 'Yes, delete' as button_name %}
		{% bootstrap_button button_type="submit" content=button_name style='danger' %}	
	</form>
</div>

{% endblock %}
