{% load django_bootstrap5 i18n static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% translate 'Task Manager' as the_title %}	

<div>
	<h3 class="float-md-start mb-0">{{ the_title }}</h3>
	<nav class="nav nav-masthead justify-content-center float-md-end">
		{% url 'index' as url%}
			<a class="nav-link fw-bold py-1 px-0{% if request.path == url %} active" aria-current="page"{% else %}"{% endif %} href="{{ url }}">{% trans 'Home' %}</a>
		{% url 'users_index' as url%}
			<a class="nav-link fw-bold py-1 px-0{% if request.path == url %} active" aria-current="page"{% else %}"{% endif %} href="{{ url }}">{% trans 'Users' %}</a>
		{% block navbar %}
			{% url 'login' as url%}
				<a class="nav-link fw-bold py-1 px-0{% if request.path == url %} active" aria-current="page"{% else %}"{% endif %} href="{{ url }}">{% trans 'Sign In' %}</a>
			{% url 'user_create' as url%}
				<a class="nav-link fw-bold py-1 px-0{% if request.path == url %} active" aria-current="page"{% else %}"{% endif %} href="{{ url }}">{% trans 'Sign Up' %}</a>
		{% endblock %}
	</nav>
</div>
