{% extends 'index.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<h1>{% translate 'Labels' %}</h1>
<a class="btn btn-primary" href="{% url 'label_create' %}">{% translate 'Create label' %}</a>
<table class="table text-white">
	<tr>
		<th>ID</th>
		<th>{% translate 'Name' %}</th>
		<th>{% translate 'Created at' %}</th>
		<th></th>
	</tr>
	{% if labels %}
		{% for label in labels %}
		<tr>
			<td>{{ label.id }}</td>
			<td>{{ label.name }}</td>
			<td>{{ label.created_at }}</td>
			<td>
				<a href="{% url 'label_update' label.id %}">{% translate 'Update' %}</a>
				<br>
				<a href="{% url 'label_delete' label.id %}">{% translate 'Delete' %}</a>
		{% endfor %}
	{% endif %}
</table>
{% endblock %}
