{% extends 'index.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block 'content' %}
<h1>{% translate 'Users' %}</h1>
<table class="table">
	<tr>
		<th>ID</th>
		<th>{% translate 'User name' %}</th>
		<th>{% translate 'Full name' %}</th>
		<th>{% translate 'Created at' %}</th>
		<th></th>
	</tr>
	{% for user in users %}
	<tr>
		<td>{{ user.id }}</td>
		<td>{{ user.username }}</td>
		<td>{{ user.first_name }} {{ user.last_name }}</td>
		<td>{{ user.date_joined }}</td>
		<td>
			<a href="{% url 'user_update' user.id %}">{% translate 'Update' %}</a>
			<br>
			<a href="{% url 'user_delete' user.id %}">{% translate 'Delete' %}</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
